[build-system]

requires = ["setuptools",
            "wheel",
            # https://github.com/numpy/numpy/pull/16468, fixed in Numpy 1.20.3
            "oldest-supported-numpy; python_version>='3.10' or platform_system!='Windows'",
            "numpy==1.20.3; python_version<'3.10' and platform_system=='Windows'"]

build-backend = 'setuptools.build_meta'
